* {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0px auto;
}

body {
    background-color: #e1ecf7;
    margin: 0px;
}

header {
    background-color: #71a5de;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-size: 100px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #83b0e1;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

nav a {
    padding: 14px 60px;
    display: inline-block;
}

nav a:hover {
    background-color: #bbdefb;
}

button {
    height: 50px;
    width: 120px;
    font-size: 20px;
    background-color: #aecbeb;
    border-radius: 25px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.about_title {
    text-align: center;
    height: 55px;
    width: 145px;
    background-color: #71a5de;
    color: black;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    float: right;
}

.me_img {
    border-radius: 50%;
    height: 210px;
    width: 210px;
    float: left;
    border: solid 10px #aecbeb;
}

.about_p {
    background-color: #bbdefb;
    color: black;
    font-size: 25px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    width: 50%;
    margin-left: 275px;
    margin-top: 25px;
}

.about_div {
    margin-top: 15px;
    margin-left: 225px;
    margin-bottom: 25px;
}

.contact {
    height: 50px;
    width: 50px;
    margin-left: 50px;
}

.contact:hover {
    transform: scale(1.1);
}

hr {
    border: 10px dashed #71a5de;
}

.skills_title {
    text-align: center;
    height: 55px;
    width: 175px;
    background-color: #71a5de;
    color: black;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    float: left;
}

.skills_img {
    margin-top: 25px;
    margin-left: 270px;
    margin-bottom: 25px;
}

.skills {
    height: 200px;
    width: 200px;
}


.skills_bar {
    margin-top: 100px;
    width: 8em;
    border-left-style: solid;
    border-left-color: #83b0e1;
    font-size: 50px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    float: right;
}

@keyframes python {
    from {
        border-left-width: 0px;
    }

    to {
        border-left-width: 150px;
    }
}

@keyframes java {
    from {
        border-left-width: 0px;
    }

    to {
        border-left-width: 150px;
    }
}

@keyframes html {
    from {
        border-left-width: 0px;
    }

    to {
        border-left-width: 300px;
    }
}

@keyframes css {
    from {
        border-left-width: 0px;
    }

    to {
        border-left-width: 250px;
    }
}

#python {
    animation: python 2s ease;
    border-left-width: 150px;
}

#java {
    animation: java 2s ease;
    border-left-width: 150px;
}

#html {
    animation: html 2s ease;
    border-left-width: 300px;
}

#css {
    animation: css 2s ease;
    border-left-width: 250px;
}

.exp_title {
    text-align: center;
    height: 55px;
    width: 275px;
    background-color: #71a5de;
    color: black;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    float: right;
}

.exp_grade {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    background-color: #aecbeb;
    border-radius: 50%;
    color: black;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    float: inline-start;
}

.exp_p {
    background-color: #bbdefb;
    color: black;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 15px;
    width: 80%;
    margin-top: 25px;
}

.sale {
    background-color: #bbdefb;
    border-radius: 15px;
    width: 530px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 103px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sale_pic {
    height: 200px;
    width: 260px;
    border-radius: 15px;
}

.int_title {
    text-align: center;
    height: 55px;
    width: 215px;
    background-color: #71a5de;
    color: black;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    float: left;
}

.run {
    height: 300px;
    width: 260px;
    border-radius: 15px;
    float: right;
}

.ocarina {
    height: 200px;
    width: 360px;
    border-radius: 15px;
    margin-top: 25px;
    float: inline-start;
}

.sing {
    height: 400px;
    width: 222px;
    border-radius: 15px;
    margin-top: 25px;
    float: inline-end;
}

.run_title {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    background-color: #aecbeb;
    border-radius: 50%;
    color: black;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    float: inline-start;
    margin-left: 30px;
}

.ocarina_title {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    background-color: #aecbeb;
    border-radius: 50%;
    color: black;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    float: inline-end;
    margin-top: 25px;
    margin-right: 145px;
}

.sing_title {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    background-color: #aecbeb;
    border-radius: 50%;
    color: black;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    float: inline-start;
    margin-left: 283px;
    margin-top: 25px;
}

.run_p {
    background-color: #bbdefb;
    border-radius: 15px;
    height: 400px;
    width: 500px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-right: 280px;
    margin-top: 25px;
}

.ocarina_p {
    background-color: #bbdefb;
    border-radius: 15px;
    height: 255px;
    width: 500px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 380px;
}

.sing_p {
    background-color: #bbdefb;
    border-radius: 15px;
    height: 220px;
    width: 500px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 242px;
}

.top {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 100%;
}

.top:hover {
    background-color: #aecbeb;
}

footer {
    background-color: #71a5de;
    color: #444444;
    text-align: center;
    padding: 10px;
}